<div class="container">
  <div class="accordion">
    <app-task-sort></app-task-sort>
    <accordion  *ngFor="let task of tasks">
        <accordion-group heading={{task.title}}>
          <p>The body of the accordion group grows to fit the contents</p>
          <div>{{task.description}}</div>
          <app-button title="Delete" (click)="deleteTask(task)" class="btn btn-danger btn-sm"></app-button>
        </accordion-group>
      </accordion>
    </div>
    <button type="button" class="btn btn-primary btn-sm" (click)="modalVisible = !modalVisible ">
      New Task
    </button>
    <app-modal [(isOpen)]="modalVisible">
      <app-form [(isOpen)]="modalVisible"></app-form>
    </app-modal>      
</div>